.product {
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
}

.details {
    font-family: 'Assistant', sans-serif;
}

.name {
    font-weight: bold;
    font-size: large;
}

.img {
    height: 100px;
    width: 100px;
}