.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 2.5rem;
}

.subtitle {
    font-size: 1.5rem;
}

.img {
    width: 300px;
    height: 300px;
}